<div style="text-align:center;">
<h1>Welcome to My Sigma Blog</h1><br>
<p>Choose an option</p><br>
<%= link_to "Login", login_path, style: "margin:auto;" %><br><br>
<%= link_to "Signup", signup_path, style: "margin:auto;" %>
</div>